[submodule "modules/puppetagent"]
	path = modules/puppetagent
	url = https://github.com/gutocarvalho/puppet-puppetagent.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
